flow.txt
[{"id":"ea28dcac.97c9d","type":"tab","label":"Telegram-Domoticz","disabled":false,"info":"https://github.com/vladtsit/zero-config-telegram-domoticz"},{"id":"dd7a2437.c06218","type":"telegram receiver","z":"ea28dcac.97c9d","name":"Any in","bot":"f3afbdfc.d2163","saveDataDir":"","x":90,"y":100,"wires":[["eed9b1b3.27cbb"],[]]},{"id":"eed9b1b3.27cbb","type":"switch","z":"ea28dcac.97c9d","name":"message","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":100,"wires":[["627ac606.fdba38"]]},{"id":"89339d75.96ee9","type":"http request","z":"ea28dcac.97c9d","name":"all ","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1/json.htm?type=devices&filter=all&used=true&order=Name","tls":"","proxy":"","x":450,"y":440,"wires":[["5aa1a5c4.7d18fc"]]},{"id":"c040ab4f.952808","type":"split","z":"ea28dcac.97c9d","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":750,"y":440,"wires":[["ea0919a6.7180c8"]]},{"id":"7b0a8e65.782f1","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"filter","pt":"msg","to":"$uppercase(\t$substringAfter(msg.payload.content, \" \")\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":100,"wires":[["9c65e707.af51c8"]]},{"id":"5aa1a5c4.7d18fc","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":440,"wires":[["c040ab4f.952808"]]},{"id":"8ffdd75d.1dda98","type":"template","z":"ea28dcac.97c9d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Name}}: **{{payload.Data}}** ({{payload.humanized}})","output":"str","x":800,"y":680,"wires":[["4d685731.1b35e8"]]},{"id":"4d685731.1b35e8","type":"function","z":"ea28dcac.97c9d","name":"to TG","func":"var newMsg = { payload:{ \n    content:msg.payload, \n    type:\"message\",\n    chatId:msg.payload_save.chatId,\n    options: {parse_mode : \"Markdown\"}\n}};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":930,"y":680,"wires":[["4e9389e0.491968"]]},{"id":"bf30593.c1d63a8","type":"function","z":"ea28dcac.97c9d","name":"msg.Elapsed","func":"var s = msg.payload.LastUpdate;\nvar d = new Date(s);\nvar d1 = new Date();\nmsg.payload.elapsed=Math.floor((d1.getTime()-d.getTime())/1000);\n//node.warn((d1.getTime()-d.getTime())/1000/60); \nreturn msg;","outputs":1,"noerr":0,"x":510,"y":680,"wires":[["97cac1a3.0b95d"]]},{"id":"97cac1a3.0b95d","type":"humanizer","z":"ea28dcac.97c9d","name":"elapsed","input":"elapsed","x":660,"y":680,"wires":[["8ffdd75d.1dda98"]]},{"id":"ddec8483.cc3088","type":"telegram event","z":"ea28dcac.97c9d","name":"","bot":"f3afbdfc.d2163","event":"callback_query","autoanswer":true,"x":140,"y":880,"wires":[["6dec0754.1330d8","84527c70.7f2a3"]]},{"id":"ca2e8f00.47af7","type":"telegram sender","z":"ea28dcac.97c9d","name":"show inline keyboard","bot":"f3afbdfc.d2163","x":840,"y":340,"wires":[[]]},{"id":"e026434.72c65c","type":"telegram sender","z":"ea28dcac.97c9d","name":"answer callback query","bot":"f3afbdfc.d2163","x":880,"y":1020,"wires":[[]]},{"id":"6dec0754.1330d8","type":"debug","z":"ea28dcac.97c9d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":410,"y":800,"wires":[]},{"id":"d1bf9b64.d1d438","type":"function","z":"ea28dcac.97c9d","name":"inline keyboard message","func":"context.global.keyboard = { pending : true };\nmsg.payload.type=\"message\";\nmsg.payload.chatId=msg.payload_save.chatId;\nvar opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  parse_mode : \"Markdown\",\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"On\",\n                    \"callback_data\": msg.payload.idx+\" \"+\"On\"            \n                }, \n                {\n                    \"text\": \"Off\",\n                    \"callback_data\": msg.payload.idx+\" \"+\"Off\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = msg.payload.Name + \": __\" +msg.payload.Data +\"__ (\"+msg.payload.humanized+\")\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":850,"y":280,"wires":[["ca2e8f00.47af7","a61f8524.aee278"]]},{"id":"84527c70.7f2a3","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"payload_save","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":960,"wires":[["c039052b.e958c8"]]},{"id":"c039052b.e958c8","type":"change","z":"ea28dcac.97c9d","name":"idx","rules":[{"t":"set","p":"idx","pt":"msg","to":"$substringBefore(payload.content, \" \")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":960,"wires":[["21df1acc.46a406","b31ca0d9.18504","f85bb22c.f7009"]]},{"id":"21df1acc.46a406","type":"change","z":"ea28dcac.97c9d","name":"switchcmd","rules":[{"t":"set","p":"cmd","pt":"msg","to":"$substringAfter(payload.content, \" \")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":960,"wires":[["4da4d365.15278c"]]},{"id":"e7603e0.12637c","type":"http request","z":"ea28dcac.97c9d","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1/json.htm?type=command&param=switchlight&idx={{{idx}}}&switchcmd={{{cmd}}}","tls":"","proxy":"","authType":"basic","x":650,"y":960,"wires":[["5bbdc9c9.c14f68"]]},{"id":"b145133e.26f6e","type":"debug","z":"ea28dcac.97c9d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":1080,"wires":[]},{"id":"5bbdc9c9.c14f68","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":960,"wires":[["c6aa2a58.de6158"]]},{"id":"c6aa2a58.de6158","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload_save","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1020,"wires":[["799921c9.a380a"]]},{"id":"799921c9.a380a","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"msg.response.title & \" \" & msg.cmd & \":\" & msg.response.status","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1020,"wires":[["4d49cae0.70cde4"]]},{"id":"4d49cae0.70cde4","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1020,"wires":[["b145133e.26f6e","e026434.72c65c"]]},{"id":"ef5a405d.28d5f","type":"comment","z":"ea28dcac.97c9d","name":"интерактивное взаимодействие в телеграм","info":"","x":210,"y":60,"wires":[]},{"id":"8e10ac58.78df2","type":"comment","z":"ea28dcac.97c9d","name":"Process callback menu for switch","info":"","x":190,"y":840,"wires":[]},{"id":"627ac606.fdba38","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"payload_save","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["7b0a8e65.782f1"]]},{"id":"7dbaf524.2417ac","type":"switch","z":"ea28dcac.97c9d","name":"SWT","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SWT","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":220,"wires":[["29111792.73d9d8"]]},{"id":"9c65e707.af51c8","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"$uppercase(\t$substringBefore(msg.payload_save.content, \" \"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":180,"wires":[["7dbaf524.2417ac","20ab0b99.af4f14","43fa1541.9828dc"]]},{"id":"29111792.73d9d8","type":"http request","z":"ea28dcac.97c9d","name":"get all sw","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1/json.htm?type=devices&filter=light&used=true&order=Name","tls":"","proxy":"","x":460,"y":220,"wires":[["558adb76.ce25d4"]]},{"id":"57dd2fc5.fb2e9","type":"split","z":"ea28dcac.97c9d","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":770,"y":220,"wires":[["5abb7ef0.1401a"]]},{"id":"b9465b8f.5b72f8","type":"switch","z":"ea28dcac.97c9d","name":"Name filter","property":"payload.NameU","propertyType":"msg","rules":[{"t":"cont","v":"filter","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":280,"wires":[["639fbf3a.c523f","d89d1fd4.15072"]]},{"id":"558adb76.ce25d4","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":220,"wires":[["57dd2fc5.fb2e9"]]},{"id":"20ab0b99.af4f14","type":"switch","z":"ea28dcac.97c9d","name":"SEN","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":440,"wires":[["89339d75.96ee9"]]},{"id":"976833c4.fc4b3","type":"comment","z":"ea28dcac.97c9d","name":"Switches On/Off only","info":"","x":140,"y":220,"wires":[]},{"id":"1140274d.f54979","type":"function","z":"ea28dcac.97c9d","name":"msg.Elapsed","func":"var s = msg.payload.LastUpdate;\nvar d = new Date(s);\nvar d1 = new Date();\nmsg.payload.elapsed=Math.floor((d1.getTime()-d.getTime())/1000);\n//node.warn((d1.getTime()-d.getTime())/1000/60); \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["b018286c.b0e7b8"]]},{"id":"b018286c.b0e7b8","type":"humanizer","z":"ea28dcac.97c9d","name":"elapsed","input":"elapsed","x":640,"y":280,"wires":[["d1bf9b64.d1d438"]]},{"id":"4e9389e0.491968","type":"telegram sender","z":"ea28dcac.97c9d","name":"show sensors","bot":"f3afbdfc.d2163","x":920,"y":740,"wires":[[]]},{"id":"639fbf3a.c523f","type":"debug","z":"ea28dcac.97c9d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":360,"wires":[]},{"id":"5abb7ef0.1401a","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"payload.NameU","pt":"msg","to":"$uppercase(msg.payload.Name)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":220,"wires":[["b9465b8f.5b72f8"]]},{"id":"ea0919a6.7180c8","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"payload.NameU","pt":"msg","to":"$uppercase(msg.payload.Name)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":440,"wires":[["db62ccd7.c6852"]]},{"id":"db62ccd7.c6852","type":"switch","z":"ea28dcac.97c9d","name":"Name filter","property":"payload.NameU","propertyType":"msg","rules":[{"t":"cont","v":"filter","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":500,"wires":[["c65c238b.81866"]]},{"id":"d89d1fd4.15072","type":"switch","z":"ea28dcac.97c9d","name":"On/Off only","property":"payload.SwitchType","propertyType":"msg","rules":[{"t":"eq","v":"On/Off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":280,"wires":[["1140274d.f54979"]]},{"id":"c65c238b.81866","type":"switch","z":"ea28dcac.97c9d","name":"Not On/Off","property":"payload.SwitchType","propertyType":"msg","rules":[{"t":"neq","v":"On/Off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":500,"wires":[["639fbf3a.c523f","fcbd5f77.6c39b","830c7992.843948"]]},{"id":"25c85676.ed029a","type":"telegram sender","z":"ea28dcac.97c9d","name":"help","bot":"f3afbdfc.d2163","x":1010,"y":160,"wires":[[]]},{"id":"43fa1541.9828dc","type":"switch","z":"ea28dcac.97c9d","name":"help","property":"$uppercase(command)","propertyType":"jsonata","rules":[{"t":"eq","v":"HELP","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":160,"wires":[["cc124954.746088"]]},{"id":"cc124954.746088","type":"template","z":"ea28dcac.97c9d","name":"help","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Commands:\nhelp - for this help\nswt \"name part\" - show actioable list of swithes selected by \"name\"\nsen \"name part\" - show sensors \n","output":"str","x":690,"y":160,"wires":[["8b1b4e0a.5b906"]]},{"id":"8b1b4e0a.5b906","type":"function","z":"ea28dcac.97c9d","name":"to TG","func":"var newMsg = { payload:{ \n    content:msg.payload, \n    type:\"message\",\n    chatId:msg.payload_save.chatId,\n    options: {parse_mode : \"Markdown\"}\n}};\n\n//newMsg.payload.content=msg.payload;\n//newMsg.payload.type=\"message\";\n//newMsg.payload.chatId=180465566;\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":810,"y":160,"wires":[["25c85676.ed029a"]]},{"id":"fcbd5f77.6c39b","type":"switch","z":"ea28dcac.97c9d","name":"Energy / Not energy","property":"payload.SubType","propertyType":"msg","rules":[{"t":"eq","v":"kWh","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":600,"wires":[["8b4e09ae.247528"],["bf30593.c1d63a8"]]},{"id":"b4764b87.ec4bd8","type":"template","z":"ea28dcac.97c9d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Name}} now: __{{payload.Usage}}__ today:{{payload.CounterToday}} ({{payload.humanized}})","output":"str","x":820,"y":520,"wires":[["e9ef8d42.5f8c6"]]},{"id":"e9ef8d42.5f8c6","type":"function","z":"ea28dcac.97c9d","name":"to TG","func":"var newMsg = { payload:{ \n    content:msg.payload, \n    type:\"message\",\n    chatId:msg.payload_save.chatId,\n    options: {parse_mode : \"Markdown\"}\n}};\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":950,"y":520,"wires":[["a60e9329.0209d"]]},{"id":"8b4e09ae.247528","type":"function","z":"ea28dcac.97c9d","name":"msg.Elapsed","func":"var s = msg.payload.LastUpdate;\nvar d = new Date(s);\nvar d1 = new Date();\nmsg.payload.elapsed=Math.floor((d1.getTime()-d.getTime())/1000);\n//node.warn((d1.getTime()-d.getTime())/1000/60); \nreturn msg;","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["b9148fb7.b15fc"]]},{"id":"b9148fb7.b15fc","type":"humanizer","z":"ea28dcac.97c9d","name":"elapsed","input":"elapsed","x":680,"y":520,"wires":[["b4764b87.ec4bd8"]]},{"id":"a60e9329.0209d","type":"telegram sender","z":"ea28dcac.97c9d","name":"show sensors","bot":"f3afbdfc.d2163","x":940,"y":580,"wires":[[]]},{"id":"d4cf7997.d605d8","type":"mqtt in","z":"ea28dcac.97c9d","name":"","topic":"domoticz/out","qos":"2","broker":"b1e11277.fbf1f","x":130,"y":1120,"wires":[["bbb66103.93c9b"]]},{"id":"b0920f4.86dd0f","type":"json","z":"ea28dcac.97c9d","name":"","pretty":false,"x":490,"y":1120,"wires":[["456410b2.5690c"]]},{"id":"f49cea56.c11cb8","type":"switch","z":"ea28dcac.97c9d","name":"","property":"payload.idx","propertyType":"msg","rules":[{"t":"eq","v":"idx","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1240,"wires":[["a83b2714.4c3f78","9f7f88e1.3098b8"]]},{"id":"4da4d365.15278c","type":"template","z":"ea28dcac.97c9d","name":"to Dom","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"command\": \"switchlight\", \"idx\": {{idx}}, \n\"switchcmd\": \"{{cmd}}\", \"level\": 0 }","x":660,"y":920,"wires":[["92ddaa58.38c228"]]},{"id":"92ddaa58.38c228","type":"mqtt out","z":"ea28dcac.97c9d","name":"Domoticz","topic":"domoticz/in","qos":"","retain":"","broker":"b1e11277.fbf1f","x":800,"y":920,"wires":[]},{"id":"b31ca0d9.18504","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"idx","pt":"flow","to":"idx","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":920,"wires":[[]]},{"id":"a83b2714.4c3f78","type":"template","z":"ea28dcac.97c9d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.name}}: {{payload.sts}}","output":"str","x":540,"y":1240,"wires":[["9c0e390e.b758b8"]]},{"id":"9c0e390e.b758b8","type":"function","z":"ea28dcac.97c9d","name":"to TG","func":"var newMsg = { payload:{ \n    content:msg.payload, \n    type:\"message\",\n    chatId:msg.payload_save.chatId,\n    options: {\n        parse_mode : \"Markdown\",\n        reply_to_message_id:msg.payload_save.messageId\n    }\n}};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":710,"y":1160,"wires":[["e026434.72c65c"]]},{"id":"a61f8524.aee278","type":"debug","z":"ea28dcac.97c9d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1110,"y":280,"wires":[]},{"id":"bbb66103.93c9b","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"payload_save","pt":"msg","to":"payload_save","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1120,"wires":[["b0920f4.86dd0f"]]},{"id":"456410b2.5690c","type":"switch","z":"ea28dcac.97c9d","name":"1/0","property":"payload.nvalue","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":1240,"wires":[["f38f841a.c78618"],["1c987755.cad8e9"]]},{"id":"f38f841a.c78618","type":"change","z":"ea28dcac.97c9d","name":"On","rules":[{"t":"set","p":"payload.sts","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1220,"wires":[["f49cea56.c11cb8"]]},{"id":"1c987755.cad8e9","type":"change","z":"ea28dcac.97c9d","name":"Off","rules":[{"t":"set","p":"payload.sts","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1260,"wires":[["f49cea56.c11cb8"]]},{"id":"9f7f88e1.3098b8","type":"change","z":"ea28dcac.97c9d","name":"","rules":[{"t":"set","p":"idx","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1280,"wires":[[]]},{"id":"f85bb22c.f7009","type":"change","z":"ea28dcac.97c9d","name":"switchcmd","rules":[{"t":"set","p":"payload","pt":"msg","to":"$split(payload.content, \" \")\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":860,"wires":[["b2544c77.065db"]]},{"id":"b2544c77.065db","type":"debug","z":"ea28dcac.97c9d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":680,"y":860,"wires":[]},{"id":"830c7992.843948","type":"debug","z":"ea28dcac.97c9d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":250,"y":700,"wires":[]},{"id":"f3afbdfc.d2163","type":"telegram bot","z":"","botname":"DachaMain_bot","usernames":"vladt","chatids":"180","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"socks-nl.windscribe.com","socksport":"1080","socksusername":"admin","sockspassword":"admin","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":true},{"id":"b1e11277.fbf1f","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
