flow.txt
[{"id":"c632aad1.4c6f78","type":"telegram receiver","z":"53d8e1a7.417bc","name":"Any in","bot":"f3afbdfc.d2163","saveDataDir":"","x":70,"y":2080,"wires":[["95d5ec3e.e4539"],[]]},{"id":"95d5ec3e.e4539","type":"switch","z":"53d8e1a7.417bc","name":"message","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":2080,"wires":[["344e2654.b235ca"]]},{"id":"bc818013.ce8df","type":"http request","z":"53d8e1a7.417bc","name":"all ","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1/json.htm?type=devices&filter=all&used=true&order=Name","tls":"","proxy":"","x":430,"y":2420,"wires":[["774ebfe0.6b7f"]]},{"id":"75dd6f10.fdbeb","type":"split","z":"53d8e1a7.417bc","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":730,"y":2420,"wires":[["a8899572.7e9058"]]},{"id":"413b07b3.f9a508","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"filter","pt":"msg","to":"$uppercase(\t$substringAfter(msg.payload.content, \" \")\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":2080,"wires":[["5b373ac7.28c7e4"]]},{"id":"774ebfe0.6b7f","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2420,"wires":[["75dd6f10.fdbeb"]]},{"id":"f8ea9924.535bc8","type":"template","z":"53d8e1a7.417bc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Name}}: **{{payload.Data}}** ({{payload.humanized}})","output":"str","x":780,"y":2660,"wires":[["c4f17961.2be938"]]},{"id":"c4f17961.2be938","type":"function","z":"53d8e1a7.417bc","name":"to TG","func":"var newMsg = { payload:{ \n    content:msg.payload, \n    type:\"message\",\n    chatId:msg.payload_save.chatId,\n    options: {parse_mode : \"Markdown\"}\n}};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":910,"y":2660,"wires":[["60237cc2.90ea74"]]},{"id":"e98a8e86.c892d","type":"function","z":"53d8e1a7.417bc","name":"msg.Elapsed","func":"var s = msg.payload.LastUpdate;\nvar d = new Date(s);\nvar d1 = new Date();\nmsg.payload.elapsed=Math.floor((d1.getTime()-d.getTime())/1000);\n//node.warn((d1.getTime()-d.getTime())/1000/60); \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2660,"wires":[["21e9462b.51bdaa"]]},{"id":"21e9462b.51bdaa","type":"humanizer","z":"53d8e1a7.417bc","name":"elapsed","input":"elapsed","x":640,"y":2660,"wires":[["f8ea9924.535bc8"]]},{"id":"5bc826a0.b47218","type":"telegram event","z":"53d8e1a7.417bc","name":"","bot":"f3afbdfc.d2163","event":"callback_query","autoanswer":true,"x":120,"y":2860,"wires":[["46d46a5.b4c0394","db5171cb.b7ffe"]]},{"id":"680db78d.2e03a8","type":"telegram sender","z":"53d8e1a7.417bc","name":"show inline keyboard","bot":"f3afbdfc.d2163","x":880,"y":2320,"wires":[[]]},{"id":"3b8e96ef.c2d0ba","type":"telegram sender","z":"53d8e1a7.417bc","name":"answer callback query","bot":"f3afbdfc.d2163","x":820,"y":3000,"wires":[[]]},{"id":"46d46a5.b4c0394","type":"debug","z":"53d8e1a7.417bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":2860,"wires":[]},{"id":"1e902c1e.c720e4","type":"function","z":"53d8e1a7.417bc","name":"inline keyboard message","func":"context.global.keyboard = { pending : true };\nmsg.payload.chatId=1804655;//context.global.chatId;\nmsg.payload.type=\"message\";\nvar opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  parse_mode : \"Markdown\",\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"On\",\n                    \"callback_data\": msg.payload.idx+\" \"+\"On\"            \n                }, \n                {\n                    \"text\": \"Off\",\n                    \"callback_data\": msg.payload.idx+\" \"+\"Off\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = msg.payload.Name + \": __\" +msg.payload.Data +\"__ (\"+msg.payload.humanized+\")\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":830,"y":2260,"wires":[["680db78d.2e03a8"]]},{"id":"db5171cb.b7ffe","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"payload_save","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":2940,"wires":[["2c870ebe.cce472"]]},{"id":"2c870ebe.cce472","type":"change","z":"53d8e1a7.417bc","name":"idx","rules":[{"t":"set","p":"idx","pt":"msg","to":"$substringBefore(payload.content, \" \")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2940,"wires":[["1b9f72e1.2a96ad"]]},{"id":"1b9f72e1.2a96ad","type":"change","z":"53d8e1a7.417bc","name":"switchcmd","rules":[{"t":"set","p":"cmd","pt":"msg","to":"$substringAfter(payload.content, \" \")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2940,"wires":[["5210417b.ae634"]]},{"id":"5210417b.ae634","type":"http request","z":"53d8e1a7.417bc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1/json.htm?type=command&param=switchlight&idx={{{idx}}}&switchcmd={{{cmd}}}","tls":"","proxy":"","authType":"basic","x":610,"y":2940,"wires":[["d4adee36.d2afe"]]},{"id":"50ad5442.d27d0c","type":"debug","z":"53d8e1a7.417bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":3060,"wires":[]},{"id":"d4adee36.d2afe","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2940,"wires":[["3c1ae987.0c1a86"]]},{"id":"3c1ae987.0c1a86","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload_save","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":3000,"wires":[["3f265d5b.e47cc2"]]},{"id":"3f265d5b.e47cc2","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"msg.response.title & \" \" & msg.cmd & \":\" & msg.response.status","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3000,"wires":[["24c71108.489dde"]]},{"id":"24c71108.489dde","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":3000,"wires":[["50ad5442.d27d0c","3b8e96ef.c2d0ba"]]},{"id":"55d12849.8a8ca8","type":"comment","z":"53d8e1a7.417bc","name":"интерактивное взаимодействие в телеграм","info":"","x":190,"y":1960,"wires":[]},{"id":"a9ca4a37.58a678","type":"comment","z":"53d8e1a7.417bc","name":"Process callback menu for switch","info":"","x":170,"y":2820,"wires":[]},{"id":"344e2654.b235ca","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"payload_save","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2080,"wires":[["413b07b3.f9a508"]]},{"id":"7d480433.c949ec","type":"switch","z":"53d8e1a7.417bc","name":"SWT","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SWT","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2200,"wires":[["64d5dfe2.e31d1"]]},{"id":"5b373ac7.28c7e4","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"$uppercase(\t$substringBefore(msg.payload_save.content, \" \"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":2160,"wires":[["7d480433.c949ec","befd2ebb.095ea","6b6a51f8.469e2"]]},{"id":"64d5dfe2.e31d1","type":"http request","z":"53d8e1a7.417bc","name":"get all sw","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1/json.htm?type=devices&filter=light&used=true&order=Name","tls":"","proxy":"","x":440,"y":2200,"wires":[["23581604.9bc5ba"]]},{"id":"9aab870c.4d0e38","type":"split","z":"53d8e1a7.417bc","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":750,"y":2200,"wires":[["1737d22b.bc5b5e"]]},{"id":"b82c0e8c.ec26e","type":"switch","z":"53d8e1a7.417bc","name":"Name filter","property":"payload.NameU","propertyType":"msg","rules":[{"t":"cont","v":"filter","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":2260,"wires":[["4e94f196.6e446","31d0b422.19377c"]]},{"id":"23581604.9bc5ba","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2200,"wires":[["9aab870c.4d0e38"]]},{"id":"befd2ebb.095ea","type":"switch","z":"53d8e1a7.417bc","name":"SEN","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2420,"wires":[["bc818013.ce8df"]]},{"id":"22b99faf.5b051","type":"comment","z":"53d8e1a7.417bc","name":"Switches On/Off only","info":"","x":360,"y":2160,"wires":[]},{"id":"890e1369.618fb","type":"function","z":"53d8e1a7.417bc","name":"msg.Elapsed","func":"var s = msg.payload.LastUpdate;\nvar d = new Date(s);\nvar d1 = new Date();\nmsg.payload.elapsed=Math.floor((d1.getTime()-d.getTime())/1000);\n//node.warn((d1.getTime()-d.getTime())/1000/60); \nreturn msg;","outputs":1,"noerr":0,"x":470,"y":2260,"wires":[["ebbde39c.b1134"]]},{"id":"ebbde39c.b1134","type":"humanizer","z":"53d8e1a7.417bc","name":"elapsed","input":"elapsed","x":620,"y":2260,"wires":[["1e902c1e.c720e4"]]},{"id":"60237cc2.90ea74","type":"telegram sender","z":"53d8e1a7.417bc","name":"show sensors","bot":"f3afbdfc.d2163","x":900,"y":2720,"wires":[[]]},{"id":"4e94f196.6e446","type":"debug","z":"53d8e1a7.417bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":2340,"wires":[]},{"id":"1737d22b.bc5b5e","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"payload.NameU","pt":"msg","to":"$uppercase(msg.payload.Name)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":2200,"wires":[["b82c0e8c.ec26e"]]},{"id":"a8899572.7e9058","type":"change","z":"53d8e1a7.417bc","name":"","rules":[{"t":"set","p":"payload.NameU","pt":"msg","to":"$uppercase(msg.payload.Name)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2420,"wires":[["86fcd1be.b2005"]]},{"id":"86fcd1be.b2005","type":"switch","z":"53d8e1a7.417bc","name":"Name filter","property":"payload.NameU","propertyType":"msg","rules":[{"t":"cont","v":"filter","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":2480,"wires":[["f6bb30aa.189b9"]]},{"id":"31d0b422.19377c","type":"switch","z":"53d8e1a7.417bc","name":"On/Off only","property":"payload.SwitchType","propertyType":"msg","rules":[{"t":"eq","v":"On/Off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2260,"wires":[["890e1369.618fb"]]},{"id":"f6bb30aa.189b9","type":"switch","z":"53d8e1a7.417bc","name":"Not On/Off","property":"payload.SwitchType","propertyType":"msg","rules":[{"t":"neq","v":"On/Off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":2480,"wires":[["4e94f196.6e446","56567b46.248b44"]]},{"id":"84e530b4.d1b31","type":"telegram sender","z":"53d8e1a7.417bc","name":"help","bot":"f3afbdfc.d2163","x":770,"y":2040,"wires":[[]]},{"id":"6b6a51f8.469e2","type":"switch","z":"53d8e1a7.417bc","name":"help","property":"$uppercase(command)","propertyType":"jsonata","rules":[{"t":"eq","v":"HELP","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":2040,"wires":[["9b06d320.3d7df"]]},{"id":"9b06d320.3d7df","type":"template","z":"53d8e1a7.417bc","name":"help","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Commands:\nhelp - for this help\nswt \"name part\" - show actioable list of swithes selected by \"name\"\nsen \"name part\" - show sensors \n","output":"str","x":450,"y":2040,"wires":[["fd3ec4e6.cd1ff8"]]},{"id":"fd3ec4e6.cd1ff8","type":"function","z":"53d8e1a7.417bc","name":"to TG","func":"var newMsg = { payload:{ \n    content:msg.payload, \n    type:\"message\",\n    chatId:msg.payload_save.chatId,\n    options: {parse_mode : \"Markdown\"}\n}};\n\n//newMsg.payload.content=msg.payload;\n//newMsg.payload.type=\"message\";\n//newMsg.payload.chatId=180465566;\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":570,"y":2040,"wires":[["84e530b4.d1b31"]]},{"id":"56567b46.248b44","type":"switch","z":"53d8e1a7.417bc","name":"Energy / Not energy","property":"payload.SubType","propertyType":"msg","rules":[{"t":"eq","v":"kWh","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":2580,"wires":[["a61d4360.0ac3d"],["e98a8e86.c892d"]]},{"id":"24494b98.440aa4","type":"template","z":"53d8e1a7.417bc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Name}} now: __{{payload.Usage}}__ today:{{payload.CounterToday}} ({{payload.humanized}})","output":"str","x":800,"y":2500,"wires":[["28f3d182.b6e6fe"]]},{"id":"28f3d182.b6e6fe","type":"function","z":"53d8e1a7.417bc","name":"to TG","func":"var newMsg = { payload:{ \n    content:msg.payload, \n    type:\"message\",\n    chatId:msg.payload_save.chatId,\n    options: {parse_mode : \"Markdown\"}\n}};\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":930,"y":2500,"wires":[["3ef78406.ac3b1c"]]},{"id":"a61d4360.0ac3d","type":"function","z":"53d8e1a7.417bc","name":"msg.Elapsed","func":"var s = msg.payload.LastUpdate;\nvar d = new Date(s);\nvar d1 = new Date();\nmsg.payload.elapsed=Math.floor((d1.getTime()-d.getTime())/1000);\n//node.warn((d1.getTime()-d.getTime())/1000/60); \nreturn msg;","outputs":1,"noerr":0,"x":510,"y":2500,"wires":[["9a1f402a.490c1"]]},{"id":"9a1f402a.490c1","type":"humanizer","z":"53d8e1a7.417bc","name":"elapsed","input":"elapsed","x":660,"y":2500,"wires":[["24494b98.440aa4"]]},{"id":"3ef78406.ac3b1c","type":"telegram sender","z":"53d8e1a7.417bc","name":"show sensors","bot":"f3afbdfc.d2163","x":920,"y":2560,"wires":[[]]},{"id":"f3afbdfc.d2163","type":"telegram bot","z":"","botname":"DachaMain_bot","usernames":"vladtsit","chatids":"1804655","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"socks-nl.windscribe.com","socksport":"1080","socksusername":"j6qt9","sockspassword":"88998","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":true}]
